@import "base";              // Add the base partial that contains our main variables.

@import "otfeatures";

/*
 * HTML5 Boilerplate
 *
 */

/* FONTS */

/*
font-family:'Museo Slab W01 300';
font-family:'MuseoSlabW01-300Italic';
font-family:'Museo Slab W01 500';
font-family:'MuseoSlabW01-500Italic';
font-family:'Museo Slab W01 1000';
font-family:'Proxima N W01 Reg';
*/


/* Helpers */

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 100%;
	background: #c1c1c1; 
	margin: 0; 
	padding: 0 0 2em 0; 
}

/* Page furniture */

#page {
	width: 95%;
	max-width: 960px; 
	margin: 0 auto; 
	padding-top: 0;
	border-radius: 0 0 1em 1em;
	box-shadow: 0 0 20px rgba(50, 50, 50, .5);  
	overflow: hidden;
    @media screen and (min-width: $mq-break-lg_tab) {
    	max-width: 960px; 
	}
    @media screen and (min-width: $mq-break-lg_desk) {
    	max-width: 1400px; 
	}
}

header {
	background: #bdad9c; 
	background-size: 100%;
	margin: 0;
	padding: 1em 4.1666667% 0 4.1666667%; /* 40px / 960px = 4.1666667% */
	position: relative;
	overflow: visible;
}

nav {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%; 
    @media screen and (min-width: $mq-break-lg_tab) {
    	height: 3.6em; 
	}
}

#main {
	margin: 0;
	padding: 0 0 1em 0; 
	background: #f5f5f5;
	background: rgba(245, 245, 245, 0.8); 
	clear: both;
}

#content {
	clear: right;
	background-color: #f5f5f5;
	background-color: #fff;
	margin: 0 auto;
	padding: 1em 4.1666667%; /* 40px / 960px = 4.1666667% */
	position: relative;
    @media screen and (min-width: $mq-break-lg_tab) {
	}
    @media screen and (min-width: $mq-break-lg_desk) {
	}
}

#content #main-content {
    @media screen and (min-width: $mq-break-lg_tab) {
		max-width: 30em;
		margin: 0 auto;
	}
    @media screen and (min-width: $mq-break-desk) {
		max-width: 35em;
	}
    @media screen and (min-width: $mq-break-lg_desk) {
		width: 75%; 
		float: left;
		margin: 0 5% 0 0;
	}
}

#content #comments {
	max-width: 35em; 
	margin: 0 auto;
    @media screen and (min-width: $mq-break-lg_desk) {
		width: 25%; 
		float: left; 
		padding-top: 1em;
	}
}


footer {
	margin: 0;
	padding: 1em 4.1666667% 1em 4.1666667%; /* 40px / 960px = 4.1666667% */
	background-color: #73271f;
	color: #fff; 
	font-size: 1em; 
	line-height: 1.125em;
}


/* HTML Styles */

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: helvetica, arial, sans-serif;	
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: 'Merriweather Sans', helvetica, arial, sans-serif;	
}



h1 {
	font-family: 'Playfair Display', Georgia; 
	font-weight: normal; 
	font-style: italic;
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
}

#page > header h1 {
	font-family: 'Playfair Display', Georgia; 
	font-weight: normal; 
	font-style: italic;
	font-size: 3.5em; 
	line-height: 1em; 
	letter-spacing: -1px; 
	margin: 0 0 0.25em 0;
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
}

h2 {
	font-family: 'Playfair Display', Georgia; 
	font-weight: normal; 
	font-style: italic;
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
}

h3 {
	font-family: 'Playfair Display', Georgia; 
	font-weight: normal; 
	font-style: italic;
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5); 
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
}

h4 {
	font-family: 'Playfair Display', Georgia; 
	font-weight: normal; 
	font-style: italic;
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5); 
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
}

/* Now supply the same as above, but with the .wf-loading class added, and without the web fonts specified */
.wf-loading body, 
.wf-loading caption, 
.wf-loading th, 
.wf-loading td, 
.wf-loading input, 
.wf-loading textarea, 
.wf-loading legend, 
.wf-loading fieldset {
	font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-size: 1em; 
	letter-spacing: 0.055em; 
	line-height: 1.4em;
}

.wf-loading h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
    font-size: 3em; 
    letter-spacing: -.02em;
	line-height: 1em; 
	margin: 0.75em 0 0.25em;
}

.wf-loading #page > header h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
    font-size: 3.25em;
	line-height: 1em; 
	margin: 0.1em 0 0.25em;
}

.wf-loading h2 {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight: normal; 
	font-style: italic;
    font-size: 2.45em;
    letter-spacing: 0.01em; 
	line-height: 1.1em; 
	margin: .8em 0 .3em 0;
}

.wf-loading h3 {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight: normal; 
	font-style: italic;
    font-size: 1.8em;
	line-height: 1.2em; 
	margin: 1em 0 .4em 0;
}

.wf-loading p {
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-size: 1em; 
	letter-spacing: 0.01em; 
	line-height: 1.39em;
}

.daterange {
	font-size: .875em; /* 14px / 16px = .875em */
}

/* TYPOGRAPHY */

#page {
	font-size: 1em; /* equivalent to 16px */
    line-height: 1.25; /* equivalent to 20px */
    @media screen and (min-width: $mq-break-phone_wide-sm_tab) {
		font-size: 1.125em; /* equivalent to 16px */
	}
    @media screen and (min-width: $mq-break-lg_tab) {
		font-size: 1em; /* equivalent to 16px */
		line-height: 1.375; /* equivalent to 22px */
	}
}

p { 
	padding-top: 0; 
	margin-top: 0;
}

h1 {
	font-size: 2em; /* 2x body copy size = 32px */ 
	letter-spacing: -1px; /* tighten up 'display type' headers on smaller displays */
	line-height: 1.25; /* 45px / 36px */
	margin-top: 0.9375em; /* (20px / 32px) * 1.5 */
	margin-bottom: 0.3125em; /* (20px / 32px) * .5 */
    @media screen and (min-width: $mq-break-lg_tab) {
		font-size: 2.5em; /* 2.5x body copy size = 40px */ 
		letter-spacing: normal;
		line-height: 1.125; /* 45px / 40px */ 
		margin-top: 0.73333334em;  /* (22px / 45px) * 1.5 */
		margin-bottom: 0.24444445em; /* (22px / 45px) * .5 */
	}
    @media screen and (min-width: $mq-break-desk) {
		font-size: 2.75em; /* 3x body copy size = 48px */ 
		letter-spacing: -1px;
		line-height: 1.05; /* keep to a multiple of the 20px line height and something more appropriate for display headings */ 
		margin-top: 0.6875em;  /* (22px / 48px) * 1.5 */
		margin-bottom: 0.22916667em; /* (22px / 48px) * .5 */
	}
}

h2 {
	font-size: 1.625em; /* 1.625x body copy size = 26px */
	line-height: 1.15384615; /* 30px / 26px */
	margin-top: 1.15384616em; /* (20px / 26px) * 1.5 */
	margin-bottom: 0.38461539em; /* (20px / 26px) * .5 */
    @media screen and (min-width: $mq-break-lg_tab) {
		font-size: 2em; /* 2x body copy size = 32px */
		line-height: 1.25; 
		margin-top: 1.03125em; /* (22px / 32px) * 1.5 */
		margin-bottom: 0.34375em; /* (22px / 32px) * .5 */
	}
}

h3 {
	font-size: 1.375em; /* 1.375x body copy size = 22px */
	line-height: 1.13636364; /* 25px / 22px */
	margin-top: 1.36363637em; /* (20px / 22px) * 1.5 */
	margin-bottom: 0.45454546em; /* (20px / 22px) * .5 */
    @media screen and (min-width: $mq-break-lg_tab) {
		font-size: 1.5em; /* 1.5x body copy size = 24px */
		line-height: 1.25; 
		margin-top: 1.37500001em; /* (22px / 24px) * 1.5 */
		margin-bottom: 0.45833334em; /* (22px / 24px) * .5 */
	}
}

h4 {
	font-size: 1.125em; /* 1.125x body copy size = 18px */
	line-height: 1.11111111; 
	margin-top: 1.66666667em; /* (20px / 18px) * 1.5 */
	margin-bottom: 0.55555556em; /* (20px / 18px) * .5 */
    @media screen and (min-width: $mq-break-lg_tab) {
		line-height: 1.22222222; /* (22px / 18px */
		margin-top: 1.83333333em; /* (22px / 18px) * 1.5 */
		margin-bottom: 0.61111111em; /* (22px / 18px) * .5 */
	}
}


/* comments */

#comments {
	h3 {
		margin-bottom: 0;
	}
	
	.source {
		font-size: .75em; /* 12px / 16px */ 
		line-height: 1.33333333em; /* 16px / 12px - set the line height back to body copy size */
		color: #a1a1a1; 
		display: block;
		margin-bottom: 0.83333334em; /* (20px / 12px) / 2: bring the title, comment closer together */
	}
}

/* Blockquote styles */

blockquote {
	width: 85%; 
	margin-top: 1em; /* (20px / 20px) */ 
	margin-bottom: 1em; /* (20px / 20px) * .5 */
	margin-right: auto; 
	margin-left: auto;
	font-size: 1.25em; /* 20px / 16px */
	line-height: 1.25; /* 25px / 20px */
	font-family: 'Playfiar Display', Georgia, "Times New Roman"; 
	font-weight: normal;
	font-style: italic; 
	position: relative;
	@include otfeatures($liga: 1, $dlig: 1, $clig: 1, $salt: 1, $calt: 1);
    @media screen and (min-width: $mq-break-lg_tab) {
		font-size: 1.5em; /* 24px / 16px = */
		line-height: 1.45833333; /* 35px / 24px */
		width: 50%; 
		max-width: 11.6666667em; /* 17.5em (or half the max paragraph width) / 1.5 = 11.6666667 */
	}
}

blockquote.left {
    @media screen and (min-width: $mq-break-lg_tab) {
		float: left; 
		margin-top: 0.68750001em; /* ((22px / 24px) * 1.5): 1.37500001 - ((22px / 24px) * .75): 0.6875 - compensate for no margin collapse */ 
		margin-bottom: 0.45833334em; /* (22px / 24px) * .5 */
		margin-right: .5em;
		margin-left: -1em;
		padding-left: .5em; 
	}
}

blockquote.right {
    @media screen and (min-width: $mq-break-lg_tab) {
   		float: right; 
		margin-top: 0.68750001em; /* ((22px / 24px) * 1.5) / 2 - compensate for no margin collapse with paragraphy above */ 
		margin-bottom: 0.45833334em; /* (22px / 24px) * .5 */
		margin-left: .5em;
		margin-right: -1em;
		padding-right: 1em; 
	}
}


/* IE bits */

.lt-ie7 #page {
	font-size: 1em; /* IE6 Renders type REALLY big */
}

.lt-ie9 #logo {
	margin-bottom: 0; 
	padding-bottom: 1em;
	box-shadow: none;
}

.lt-ie8 nav ul.menu {
	background-color: #73271f; 
	width: 100%;
}

.lt-ie8 nav ul.menu li {
	float: left;
}

.lt-ie8 footer ul.menu li {
	float: left; 
	display: block; 
	margin-top: 1em;
}

.lt-ie7 #content {
	padding: 1em 2.85714286%; 
}

.lt-ie9 img { /* fix image bits for older IE */
  	height: auto !important; 
  	width: auto\9; /* IE 8 */
}



@media screen and (min-width: $mq-break-lg_tab) {


/* IE bits */
/*
.lt-ie9 header {
	background: #bdad9c url(../images/header_background_960.png) no-repeat; 
}



.lt-ie7 #logo {
	width: 13.636364% !important; 
}

.lt-ie7 #logo img {
	width: 100% !important; 
}

.lt-ie7 #main {
	position: relative; 
}

.lt-ie7 #main nav {
	position: absolute; 
	left: 0;
}

.lt-ie7 #main #content {
	position: relative; 
	margin-left: 15%;
}

.lt-ie7 figure img {
	width: 100% !important; 
}

*/
  
}/* /mediaquery */

@media screen and (min-width: $mq-break-desk) {

  
}/* /mediaquery */

@media screen and (min-width: $mq-break-lg_desk) {


  
/* IE bits */
/*
.lt-ie7 #content #content {
	padding: 1em 2% !important;
}
  
.lt-ie7 #content {
	margin-left: 0; 
	width: 70% !important;
}
  
.lt-ie7 #content #comments {
	padding-top: 2em;
}
*/



}/* /mediaquery */

/* the following media query is a fix for a bug in older iOS devices on rotation */
@media screen and (orientation:landscape) and (device-width:320px) and (device-height: 480px) {
	body {
		width: 480px;
	}
}

/* FOR DEMO: Toggle Fallback */
.button {
	font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight: bold;
	background: #a1a1a1;
	display: inline-block;
	font-size: 13px; 
	line-height: 25px; 
	letter-spacing: normal;
	padding: 5px 10px 4px; 
	margin-bottom: 10px;
	float: right; 
	clear:right;
	text-transform: uppercase;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
.button:hover {
	background: #a9a9a9;
	cursor: pointer;
}

.toggle-fallback {
}

.wf-loading .toggle-fallback {
	background: #c5c5c5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
}

