/*
 * HTML5 Boilerplate
 *
 */

/* Helpers */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	*behavior: url(../../assets/htc/boxsizing.htc);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 100%;
    line-height: 1.4; 
	background: #c1c1c1 url(../../assets/images/body_background.png); 
	margin: 0; 
	padding: 0 0 2em 0; 
}

/* Page furniture */

#page {
	font-size: 1em; /* 16px = 1em */
	width: 95%; /* this is somewhat arbitrary - just a value that is close to full width but leaves a bit of margin */
	max-width: 60em; /* 960px / 16px (or 1em) = 60em - adjust as you see fit! */
	margin: 0 auto; 
	border-radius: 0 0 1em 1em;
	box-shadow: 0 0 20px rgba(50, 50, 50, .5);  
	overflow: hidden;

}

header {
	background-color: #bdad9c; 
	margin: 0;
	padding: 1em 4.1666667% 0 4.1666667%; /* 40px / 960px = 4.1666667% */
	position: relative;
	overflow: visible;
}


nav {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%; 
    height: 3.6em; 
}

#main {
	margin: 0;
	padding: 0 0 1em 0; 
	background: #f5f5f5;
	background: rgba(245, 245, 245, 80); 
	clear: both;
}

#content {
	clear: right;
	background-color: #f5f5f5;
	padding: 1em 4.1666667%; /* 40px / 960px = 4.1666667% */
	position: relative;
	width: 69.791667%; /* 670px / 960px = 69.791667% */
	float: left; 
	margin-top: 3.6em;
	margin-left: 30.208333%; /* 290px / 960px = 30.208333% % */
	margin-right: -100%;
}

#sidebar-first {
	margin: 0;
	padding: 2.95em 0 0 4.1666667%;	/* 40px / 960px = 4.1666667% */
	width: 30.208333%; /* 290px / 960px = 30.208333% % */
	float: left; 
	margin-top: 3.6em;
	margin-right: -30.208333%; /* 290px / 960px = 30.208333% % */
}

footer {
	margin: 0;
	padding: 1em 4.1666667% 1em 4.1666667%; /* 40px / 960px = 4.1666667% */
	background-color: #73271f;
	color: #fff; 
}


body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: "Fira Sans Light", helvetica, arial, sans-serif;	
}

h1 {
	font-family: "Merriweather", Georgia; 
	font-weight: 900;
	font-size: 3em; /* 48px / 16px = 3em */
	line-height: 1.15em;
	margin: 0.6667em 0 0.33333em 0; /* 24px above, 16px below */
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

h2 {
	font-family: "Merriweather", Georgia; 
	font-weight: 700;
	font-size: 2em; /* 32px / 16px = 2em */
	line-height: 1.25em;
	margin: 0.75em 0 0.5em 0; /* 20px above, 16px below */
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

h3 {
	font-family: "Merriweather", Georgia; 
	font-weight: 700;
	font-size: 1.5em; /* 24px / 16px = 1.5em */
	line-height: 1.25em;
	margin: 1em 0 0.66667em 0; /* 24px above, 16px below */
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5); 
	margin-bottom: 0;
}

a { 
	-webkit-transition: background 0.3s ease-in-out; 
	-moz-transition: background 0.3s ease-in-out; 
	-o-transition: background 0.3s ease-in-out; 
	transition: background 0.3s ease-in-out;	
}

/* redefine bold and italics for web fonts */

strong, 
b {
	font-family:"Fira Sans Bold"; 
	font-weight: normal;
}

em, 
i {
	font-family: "Fira Sans Light Italic"; 
	font-style: normal;
}

strong em, 
em strong, 
b i, 
i b {
	font-family: "Fira Sans Bold Italic"; 
	font-weight: normal; 
	font-style: normal;
}

#logo {
	width: 120px; 
	max-width: 120px;
	margin: 0 40px 1em 0; 
	float: left; 
	box-shadow: 1px 1px 1px black;
}

#logo a {
	display: block;
}

header h1 {
	font-style: italic;
	margin: 0; 
	line-height: 2em;
}

article h1 {
	font-size: 2em;
}

nav ul.menu {
	background-color: #73271f; 
	position: relative;
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0; 
	text-align: center;
}

nav ul.menu li { 
	list-style: none; 
	list-style-image: none; 
	display: inline-block; 
	margin: 0; 
	padding: 0;
}

nav ul.menu li a {
	font-family: "Fira Sans Bold", sans-serif; 
	font-weight: normal; 
	font-size: 1.125em;
	padding: .5em 1em; 
	margin-top: 0;
	background-color: #73271f; 
	color: white; 
	display: block; 
	text-decoration: none;
}

nav ul.menu li a:hover {
	color: #f1f1f1; 
	background-color: #1f1f1f;
}

footer p {
	font-size: 0.875em;  /* 14px / 16px = .875em */
	line-height: 1.5em;
	margin-top: 0.25em;
	float: left;
}

footer ul.menu {
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0; 
	float: left;
}

footer ul.menu li { 
	font-size: 0.875em; /* 14px / 16px = .875em */
	list-style: none; 
	list-style-image: none; 
	display: inline-block; 
	margin: 0 .5em 0 0; 
	padding: 0 .75em 0 0; 
	border-right: solid 1px #fff;
}

footer ul.menu li a {
	color: white; 
	display: block; 
	text-decoration: none;
}

footer ul.menu li a:hover {
	color: #f1f1f1; 
	text-decoration: underline;
}

.daterange {
	font-size: .875em; /* 14px / 16px = .875em */
}


/* comments */

#comments h2 {
	font-size: 1.75em;
}

#comments p {
	margin-top: 0;
}

#comments em.source {
	font-size: .75em; 
	color: #a1a1a1; 
	display: block;
	margin-bottom: .5em;
}

/* figures generic styles */

figure.small {
	width: 175px; 
	margin-bottom: 1em;
}

figure.medium {
	width: 285px; 
	margin-bottom: 1em;
}

figure.left {
	float: left; 
	margin-right: 20px; 
}

figure.right {
	float: right; 
	margin-left: 20px;
}

figcaption {
	font-size: .75em; 
	font-style: italic;
}

/* Blockquote styles */

blockquote {
	width: 510px; 
	margin: 0 auto 1em auto; 
	font-size: 1.5em; 
	line-height: 1.4em; 
	font-family: "Merriweather", Georgia, "Times New Roman"; 
	font-style: italic; 
	font-weight: 700;
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 2em;
	color: #9f9f9f;
	position: absolute;
	top: 0;
	left: -0.25em;
    
}

blockquote:after {
	content: "\201D";
	font-size: 2em;
	color: #9f9f9f;
	position: relative;
	bottom: -0.2em;
	right: 0; 
	display: inline;
    line-height: .2em;
}

blockquote.left {
	float: left; 
	width: 285px; 
	margin-right: 20px; 
	margin-left: -2em;
	padding-left: 1em;
}

blockquote.right {
	float: right; 
	width: 285px; 
	margin-left: 20px; 
	margin-right: -2em;
	padding-right: 1em;
}


/* image styles */

img {
	display: block;
}